*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
--新增
*/build/classes/*
/.idea/misc.xml
/.idea/modules.xml
/.idea/gradle.xml
js-annotations/build/*
js-compiler/build/*
/js-annotations/build/*
/js-compiler/build/*
/.idea/
/app/debug/
/app/release/